# Copy to .env in this folder (ai-agent/) and fill in your key.
# Get keys from NVIDIA (build.nvidia.com / API Catalog). Do not commit .env.
#any api key which has low latency and high token limit or rate limit 

MISTRAL_API_KEY=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
